/* H06 Investment */
#investment-stats {
	padding: 50px 0 0 0;
	justify-content: space-evenly;
}
	
#investment-stats .component-header {
	max-width: 40%;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    gap: 15px;
}
	
#investment-stats .component-header h6 {
	font-size: 1rem;
    color: #646464;
    text-transform: uppercase;
    font-weight: 600;
	margin-bottom: 0;
}
	
#investment-stats .component-header h3 {
	color: #000000;
    font-weight: 300;
    text-transform: uppercase;
    text-align: left;
	margin-top: 30px;
	margin-bottom: 15px;
    font-size: 2.5rem;

}
	
#investment-stats .component-header h3 span {
	font-weight: 700;
    color: #CED54A;
}

#investment-stats .component-header p {
	max-width: 80%;
    font-size: 1.1rem;
    margin: 0 0 30px 0;
    line-height: 1.4;
    text-align: left;
}
	
#investment-stats .component-header .button {
	width: fit-content;
}
	
#investment-stats .swiper2 {
	padding-bottom: 30px;
}

#investment-stats .swiper2 .swiper-controls {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	margin: 0 15px 0 0;
	height: 10px;
}

#investment-stats .swiper2 .swiper-pagination {
	bottom: auto;
	z-index: 1;
}

#investment-stats .swiper2 .swiper-button-next {
	padding: 0px;
	right: auto;
	top: auto;
	position: relative;
	margin: 0;
}
	
#investment-stats .stats .svg-container {
	width: 200px;
	min-width: 200px;
	position: relative;
	display: grid;
}
	
#investment-stats .stats .svg-container .text {
	color: #fff;
    font-size: 3em;
    font-weight: 700;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1/2;
    grid-column: 1/2;
    margin-top: 45px;
}
	
#investment-stats .stats .circle {
	height: 450px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	border: solid 15px #fff;
	box-sizing: border-box;
}

#investment-stats .stats .circle .blur {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(30, 55, 39, .31);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 17%);
    -webkit-box-shadow: 0 8px 32px 0 rgb(31 38 135 / 17%);
}
	
#investment-stats .stats .circle p {
	color: #fff;
	width: 70%;
    text-align: center;
    font-size: 1.1rem;
    z-index: 1;
	font-family: 'Neue Helvetica Condensed';
	font-weight: 400;
	line-height: 1.3;
}

#investment-stats .stats svg {
	width: 200px;
	height: 200px;
	position: relative;
	margin-top: 45px;
	grid-row: 1/2;
    grid-column: 1/2;
}

#investment-stats.faded-in .stats svg > path[stroke="#184f2c"] {
  animation: svgCirlceAnimate 2s ease-in-out forwards;
}

#investment-stats .svg-container .pre-text {
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1em;
    line-height: 1.1em;
    color: #fff;
    margin-bottom: 22px;
    margin-left: 4px;
}
 
@keyframes svgCirlceAnimate {
  from { stroke-dasharray: 0,100 };
  to { stroke-dasharray: 100,100 };
}
	
@media (max-width: 1200px) {
	#investment-stats {
		flex-direction: column;
	}
	#investment-stats .component-header {
		max-width: 100%;
		margin: 0 15px;
	}
	#investment-stats .swiper2 {
		max-width: 100%;
	}
	
	#investment-stats .swiper2 .swiper-controls {
		margin-top: 5px;
	}
}
@media (max-width: 600px) {
	#investment-stats .stats .circle {
		border: none;
	}
	#investment-stats .swiper2 {
		margin: 0 15px;
	}
	
	#investment-stats .swiper2 .swiper-controls {
		margin: 25px 0 0 0;
	}
}

/* End H06 Investment */